/* universal selector - set font of entire site to Raleway */
*{
    font-family: 'Raleway', sans-serif;
    line-height:  1.618;
}

/* navigation styling */
.stickynav{
    position: sticky;
    height: 30px;
    top: 0;
}
.nav{
    width:100%; 
    padding: 0;
    list-style: none;
    text-align:center;
    letter-spacing: .25em;
    background-color:white;

}

.nav li{
    display: inline-block;
    justify-content: space-between; 
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

.nav li a{
    padding: 15px 70px;
    margin: 5px;
    text-decoration: none;
    font-weight: bold;
    color:#7C98A9;

}

.nav li a:hover{
    color:#45545E;
}
/* text styling */
main{
    display:flex;
    flex-direction:column;
    margin-right:5%;
    margin-left:5%;

}

article{
    font-family:'Lato', sans-serif;
    padding: 20px 0;
}
p{
    font-family: 'Lato', sans-serif;
    margin-top:3px;
}
p, article, h3, h4{
    color:#45545E;
}

h1{
    position: relative;
    height: 300px;
    text-align: center;
    line-height: 6.5em;
    color: white;
    letter-spacing: 5px;
    font-size: 3em;
    text-transform: uppercase;
}

h3{
    text-transform: uppercase;
}

h4{
    margin-bottom: 0;
}

li a{
    font-family: 'Lato', sans-serif;
}

section{
    background: url(images/blog_header_bg.jpg);
    background-size: cover;
}

.issues{
    font-family: 'Lato', sans-serif;
}
.content{
    display:flex;
    order: 1;
}
aside {
    display:flex;
    order: 2;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    margin-top: 46px;
}

    /* display: flex; */


/* image styling */
.firstimage{
    height:450;
}

img{
    max-width: 100%;
    padding: 10px 0;
}


/* footer styling */
i{
    color:#45545E;
    margin: 20px;
}

hr{
    background-color: #45545E;
    border-top: 2px solid #45545E;
}

footer{
    background:#D4F2F5;
    text-align: center;
    padding: 15px 10px;
    margin-top: 10px;
}

.social-media i{
    font-size:1.5em;
}

i:hover{
    color:white;
}

.issues ul li{
    text-wrap: none;
    color:#7c98a9;
    font-weight:bold;
}

.issues ul li:hover{
    color: #45545E
}
.socialmedia p {
    color:#45545E;
}

.email{
    width: 27em;
    padding: 1em;
    border:none;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;

}

.button{
    background-color: transparent; 
    border: 2px solid #45545E;
    padding: 1em;
    margin-left: 10px;
    width: 150px;
    text-transform: uppercase;
    color:#45545E; 
    opacity: 1;
    transition: background-color 700ms linear;
    font-weight: bolder;
}


.button:hover{
    background-color: #45545E;
    color: white;
    opacity: 0.75;
}

.footer-name{
    font-size: .75em;
}

