 body{
    font-family: 'Raleway', sans-serif;
    line-height:  1.618;
    text-align: center;
    max-width: content;
}
p{
    font-family: "Lato", sans-serif;
}

/* for navigation */

.nav{
    list-style: none;
    letter-spacing: .25em;
    background-color:white;
    max-width: 96%;
}
.nav li{
    display: inline-block;
    text-transform: uppercase;
    padding: 0 4%;
}
.nav li a{
    text-decoration: none;
    font-weight: bold;
    color:#7C98A9;

}
.nav li a:hover{
    color:#45545E;
}

.hamburger{
    display:none;
}

/* header */
.headerimg{
    background: url(images/home_header_bg.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    max-width: 100%;
    color: white;
    text-transform: uppercase;
    letter-spacing: .15rem;
    text-align: center;
    padding-top: 15rem;
    margin-bottom: 10rem;
    font-weight: bolder;
} 

h1{
    letter-spacing: .5rem;  
    margin-bottom: none; 
}
h2,h3{
    margin-top: none;
    text-transform:uppercase;
    color:#45545E;
    text-align: center;
}

/* articles */

.archivearticles{
    display: flex; 
    justify-content: space-between;
    font-family: "Lato", sans-serif;
}

.articlecolumn{
    width:30%;
}

section .aboutmag{
    background-color: #D0F2F6;
    height: max-content;
    padding:5% 5%;
    margin: 5em auto;
    text-align: center;
} 

section .aboutmag article{
    max-width: 100%;
    padding: 5% 5%;
}

.readmore{
    color: #45545E;
    text-transform: uppercase;
    border: 1px solid #45545E;
    font-weight: bolder;
    letter-spacing: .25em;
} 
/* photo grid styling */

.picgrid{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
} 


.pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .articleimg1, .articleimg2, .articleimg3{
    max-width: 90%;
}
.pic1{
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    /* width: 50vh;
    height: 65vh; */
    padding: .5em;
    padding-bottom:10%;
    /* max-width: 100%; */
}


.pic2{
    grid-row: 1 / span 1;
    grid-column: 2 /span 1;
    /* width: 50vh;
    height:55vh; */
    padding: .5em; 
    padding-bottom: 10%;
    /* max-width: 100%; */
}

.pic3{
    grid-row: 1 / span 1;
    grid-column: 3 /span 1;
    /* width: 50vh;
    height:50vh; */
    padding: .5em;
    padding-bottom: 10%;
    /* max-width: 100%; */
}

.pic4{
    grid-row: 1 / span 1;
    grid-column: 1 /span 1;
    /* width: 50vh;
    height:45.9vh; */
    padding-top:150%;
    padding-left:5%
    /* max-width: 100%; */
}

.pic5{
    grid-row: 1 / span 1;
    grid-column: 2 /span 1;
    /* width: 50vh;
    height:60.9vh; */
    padding-top:113%;
    padding-left:5%
    /* max-width: 100%; */
}

.pic6{
    grid-row: 1 / span 1;
    grid-column: 3 /span 1;
    padding-top:100%;
    padding-left:5%;

} 

/* form styling */
form{
    display: grid;
    grid-template-rows: repeat (3, 1fr);
    grid-template-columns: repeat (3, 1fr);
    max-width: 95%;
    /* padding: 2%; */
    margin-left: 2%;
    margin-bottom: 2%;

}

input{ 
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: bolder;
    border: 1.5px solid #45545E;
    color: #8A949A;
    max-width: 100%;
}

.name, .email, .subject{
    height: 2rem;
    margin: 1%;
}
.message{
    height: 2rem;
    margin-top: 1%;
}

.submit{
    height: 2rem;
    margin-top: 1%;
}

.name{
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}
.formemail{
    grid-row: 1/ span 1; 
    grid-column: 2 / span 1;
}

.subject{
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
}

.message{
    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
}

.submit{
    grid-row: 3 / span 1; 
    grid-column: 1 / span 3;
}

section .contactform{
    position: relative;
}
/* footer */
/* footer styling */
i{
    color:#45545E;
    margin: 20px;
}

hr{
    background-color: #45545E;
    border-top: 2px solid #45545E;
    
}

footer{
    background:#D4F2F5;
    max-width: 100%;
}

.social-media i{
    font-size:1.5em;
}

i:hover{
    color:white;
}
.socialmedia p {
    color:#45545E;
}

/* form .footer-form{
    height: 1em;
} */
.footeraddress{
    width: 40%;
    height:10%;
    padding: 1em;
    border:none; 
    text-align: center;
}

.footerbutton{
    background-color: transparent; 
    border: 2px solid #45545E;
    padding: 1em;
    margin-left: 1em;
    width: 24%;
    text-transform: uppercase;
    color:#45545E; 
    opacity: 1;
    transition: background-color 700ms linear;
    font-weight: bolder;
}

.footerbutton:hover{
    background-color: #45545E;
    color: white;
    opacity: 0.75;
}

.footername{
    font-size: 10%;
}

/* for tablet */
@media screen and (max-width:768px){
    main{
        display: inline-block;
        max-width: 95%;
    }

    .archivearticles{
        display: flex; 
        flex-flow: column;
    }

    .readmore{
        background-color: transparent;
        margin-bottom:5%;
    }
    .submit{
        background-color: #45545E;
        color: white;
    }
}
 /* for phone */
@media only screen and (max-width: 600px){
    .headerimg{
        margin:none;
        z-index:200;
    }
    .contactform{
        max-width: 100%;
    }
    /* .name, .email, .subject, .message, .submit{
        max-width: 98%;
        } */
    .footer{
        position:sticky;
    }
    .hamburger{
        display:block;
        position:absolute;
        top:10px;
        left:2px;
    }
    #fabars{
        display:block;
        position: relative;
        color:white;
        z-index:100;
    }
    .navbar{
        display:none;
    }
    }
