#nav{
    width:100%;
    margin: 0 0 3em 0; 
    padding: 0;
    list-style: none;
    text-transform: capitalize;
    display: flex;

}
#nav li{
    display:  flex;
    justify-content: space-between;
}


#nav li a{
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: darkgrey;
    text-transform: capitalize;

    
}
